@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Inter:wght@400;700&display=swap');
.MuiTypography-root {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.App {
  text-align: center;
  background-color: #F4F6FA;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  color: #05192C;
}
.app-bar {
  background-color: transparent;
  height: 96px;
  padding: 20px;
  color: #333;
  box-shadow: none;
  padding-left: 32px;
}
.page-title {
  font-size: 28px;
}

main {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
  margin-top: 96px;
}
.css-13hbcws {
  padding: 8px;
}
.drawer-header {
  font-family: 'Inter', sans-serif;
  margin-top: 36px;
  margin-bottom: 56px;
  font-size: 28px;
  font-style: italic;
  color: #1599DA
}
.profile-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.profile-avatar {
  height: 80px;
  width: 80px;
}
.profile-name {}
.profile-chip {}
.middle {
  order:1; 
  flex-basis:100%; 
  min-height: 100vh;
}
.right {
  order:2; 
  flex-basis:100%; 
  min-height: 100vh;
  padding-top: 96px;
}
.card {
  padding: 32px;
  border-radius: 16px;
  box-shadow: none;
}
.step-card {
  display: flex;
  flex-direction: column;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 32px;
}
.step-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 32px;
}
.step-number { 
  background-color: white;
  color: #05192C; 
  border: solid #DEDFE7 1px;
}

.step-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.MuiToolbar-root.tab-bar  {
  padding-left: 0;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 32px;
}

.MuiToolbar-root.tab-bar .MuiButtonBase-root-MuiTab-root {
  font-size: 22px;
  font-weight: 500;
}

.MuiToolbar-root.tab-bar .MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-weight: 700;
}
.Mui-selected {
  color: #05192C !important;
  font-weight: 700;
}
.MuiTabs-indicator {
  background-color: #05192C !important;
}
.select {
  border-radius: 16px;
  margin-top: 0;
  margin: 0;
  min-width: 398px;
  text-align: left;
}
.search {
  color: #1599DA;
}
.search .MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 28px;
  min-width: 234px;
  font-weight: 700;
  color: #1599DA;
}
.label {
  text-align: left;
  margin-bottom: 8px;
}
.search-icon {
  color: #1599DA;
}
.search .MuiInputBase-input-MuiOutlinedInput-input::-webkit-input-placeholder {
  opacity: 1;
}
.search .MuiInputBase-input {
  padding-right: 0;
}
.charity-chip {
  height: 48px;
  padding: 0px;
  border-radius: 24px;
  font-size: 14px;
  width: 187px;
  white-space: break-spaces;
  text-align: left;
  min-width: 187px;
}
.MuiChip-root .MuiChip-avatar  {
  height: 40px;
  width: 40px;
}
.MuiChip-root .MuiChip-label {
  white-space: break-spaces;
  text-align: left;
}
.carousel-frame {
  height: 48px;
  max-width: 688px;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.fade-arrow {
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 100%);
  height: 48px;
  min-width: 96px;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.arrow-chip {
  background-color: #FFF;
  color: #05192C
}

@media screen and (min-width:1024px) {
  main {
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    gap: 32px;
    max-width: 1256px;
    padding: 56px;
  }

  .css-13hbcws {
    padding: 56px;
  }
  .middle {
    max-width: 752px;
    min-width: 360px;
    flex: 1 1;
  }
  .right {
    flex: 0 0 360px;
  }
}
