@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Hurricane&family=Inspiration&family=Inter:wght@400;400i;700;700i&family=Kaushan+Script&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Hurricane&family=Inspiration&family=Inter:wght@400;500;600;700&family=Kaushan+Script&family=Shalimar&display=swap');
.css-z2eky3-MuiTypography-root {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.App {
  text-align: center;
  background-color: #F4F6FA;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  color: #05192C;
}
.app-bar {
  background-color: transparent;
  height: 96px;
  padding: 20px;
  color: #333;
  box-shadow: none;
  padding-left: 32px;
}
.page-title {
  font-size: 28px;
}

main {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
  margin-top: 96px;
}
.css-13hbcws {
  padding: 8px;
}
.middle {
  order:1; 
  flex-basis:100%; 
  min-height: 100vh;
}
.right {
  order:2; 
  flex-basis:100%; 
  min-height: 100vh;
  padding-top: 96px;
}
.card {
  padding: 32px;
  border-radius: 16px;
}
.step-card {
  display: flex;
  flex-direction: column;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 32px;
}
.step-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 32px;
}
.step-number { 
  background-color: white;
  color: #05192C; 
  border: solid #DEDFE7 1px;
}

.step-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.css-hyum1k-MuiToolbar-root.tab-bar  {
  padding-left: 0;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 32px;
}

.css-hyum1k-MuiToolbar-root.tab-bar .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 22px;
  font-weight: 500;
}

.css-hyum1k-MuiToolbar-root.tab-bar .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-weight: 700;
}

.select {
  border-radius: 16px;
  margin-top: 0;
  margin: 0;
  min-width: 398px;
}
.search {
  color: #1599DA;
}
.search .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 28px;
  min-width: 234px;
  font-weight: 700;
  color: #1599DA;
}
.label {
  text-align: left;
  margin-bottom: 8px;
}
.search-icon {
  color: #1599DA;
}
.search .css-aeeyth-MuiInputBase-input-MuiOutlinedInput-input::-webkit-input-placeholder {
  opacity: 1;
}
.search .MuiInputBase-input {
  padding-right: 0;
}
.charity-chip {
  height: 48px;
  padding: 0px;
  border-radius: 24px;
  font-size: 14px;
  width: 204px;
  white-space: break-spaces;
  text-align: left;
}
.css-1dsq9pb-MuiChip-root .MuiChip-avatar  {
  height: 40px;
  width: 40px;
}
.css-1dsq9pb-MuiChip-root .MuiChip-label {
  white-space: break-spaces;
  text-align: left;
}
@media screen and (min-width:1024px) {
  main {
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    gap: 32px;
    max-width: 1256px;
    padding: 56px;
  }

  .css-13hbcws {
    padding: 56px;
  }
  .middle {
    max-width: 752px;
    min-width: 360px;
    flex: 1 1;
  }
  .right {
    flex: 0 0 360px;
  }
}
